.Thumbnail {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 150px;
    position: relative;
    border-radius: 10px;

    &:hover > .details{
        height: 100%;
        transition: 300ms ease-in-out;
    }

    &:hover > .image{
        width: 135px;
        transition: 300ms ease-in-out;
    }
    
    &:hover > .typeName {
        // display: inline;
        color: red;
    }

    &:hover > .details .types .type .typeName {
        transition: 300ms ease-in-out;
        width: 100%;
    }

    &:hover > .details .types .type .typeImg {
        transition: 300ms ease-in-out;
        display: none;
    }

    .details {
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 15px;
        font-weight: 600;
        display: flex;
        padding: 10px;
        width: 100%;
        height:50%; 
        overflow: hidden
    }

    .image {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 150px;
    }

    .number {

        color: rgb(255, 255, 255);
        top: 10px;
        left: 10px;
    }

    .name {
        color: rgb(255, 255, 255);
        top: 37.5px;
        left: 10px;
    }

    .types {
        display: flex;
        font-size: 10px;
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: white;
        .type {
            display: flex;
            background-position: center;
            background-size: 15px;
            background-repeat: no-repeat;
            padding: 3px;
            border-radius: 5px;
            margin-right: 5px;
        .typeImg {
            // margin-right: 5px;
            width: 15px;
            height: 15px;
            background-position: center;
            background-size: contain;
        }
        .typeName {
            display:block;
            width: 0;
            overflow: hidden;
        }
        }
    }
}
