.Thumbnail {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 150px;
    position: relative;
    border-radius: 10px;

    &:hover > .details{
        height: 100%;
        transition: 300ms ease-in-out;
    }

    &:hover > .image{
        width: 135px;
        transition: 300ms ease-in-out;
    }

    &:hover > .details .types .type .typeName {
        transition: 300ms ease-in-out;
        width: auto;
    }

    &:hover > .details .types .type .typeImg {
        transition: 200ms ease-in-out;
        margin-right: 5px;
    }

    .details {
        color: rgb(255, 255, 255);
        letter-spacing: 2.2px;
        font-size: 12px;
        font-weight: 600;
        display: flex;
        padding: 10px;
        width: 100%;
        height:100%; 
        overflow: hidden
    }

    .imageBg {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100px;
        height: auto;
        background-size: 125%;
        background-repeat: no-repeat;
        @media screen and (min-width: 1024px) {
            width: 115px;
        }
    }

    .image {
        width: 100%;
    }


    .number {
        opacity: .7;
    }

    .types {
        display: flex;
        font-size: 10px;
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: white;
        .type {
            display: flex;
            background-position: center;
            background-size: 15px;
            background-repeat: no-repeat;
            padding: 3px;
            border-radius: 5px;
            margin-right: 5px;
        .typeImg {
            width: 15px;
            height: 15px;
            padding: 0;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        .typeName {
            display:block;
            width: 0;
            overflow: hidden;
        }
        }
    }
}
