@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(238, 238, 238);
}

.lightTheme {
    transition: 300ms ease-in-out;
    background:rgb(238, 238, 238);
    box-shadow: -9px -9px 9px 0 rgba(255, 255, 255, 0.62), 
            -1px -1px 1px 0px rgba(255, 255, 255, 0.3), 
            1px 1px 1px 0px rgba(206, 206, 206, 0.15), 
            9px 9px 9px 0 rgba(206, 206, 206, 0.3);
}

.darkTheme {
    transition: 300ms ease-in-out;
    background: rgb(56, 56, 56);
    box-shadow: -9px -9px 9px 0 rgba(78, 78, 78, 0.62), 
          -1px -1px 1px 0px rgba(46, 46, 46, 0.3), 
          1px 1px 1px 0px rgba(42, 42, 42, 0.15), 
          9px 9px 9px 0 rgba(66, 66, 66, 0.3);
    color: white;
}
