
.normal {
    background:linear-gradient(135deg, rgb(216, 212, 158) 0%, rgba(169,166,123, 1) 100%);
    &Bg {background-image: url('../assets/icons/transparent/normal.svg')}
    &type {
        background: rgba(169,166,123, 1);
        &Img {background-image: url('../assets/icons/classic/normal.svg')}
    }
}
.electric {
    background: linear-gradient(135deg, rgb(255, 234, 114) 0%, rgb(219, 192, 36) 100%);
    &Bg {background-image: url('../assets/icons/transparent/electric.svg')}
    &type {
        background: rgb(219, 192, 36);
        &Img {background-image: url('../assets/icons/classic/electric.svg')}
    }
}
.fairy {
    background: linear-gradient(135deg, rgb(255, 175, 215) 0%, rgba(214, 133, 173, 1) 100%);
    &Bg {background-image: url('../assets/icons/transparent/fairy.svg')} 
    &type {
        background: rgba(214, 133, 173, 1);
        &Img {background-image: url('../assets/icons/classic/fairy.svg')}
    }
}
.water {
    background: linear-gradient(135deg, rgb(161, 191, 255) 0%, rgba(98, 143, 239, 1) 100%);
    &Bg {background-image: url('../assets/icons/transparent/water.svg')}
    &type {
        background: rgba(98, 143, 239, 1);
        &Img {background-image: url('../assets/icons/classic/water.svg')}
    }
}
.poison {
    background: linear-gradient(135deg, rgb(212, 93, 210) 0%, rgba(162, 62, 160, 1) 100%);
    &Bg {background-image: url('../assets/icons/transparent/poison.svg')}
    &type {
        background: rgba(162, 62, 160, 1);
        &Img {background-image: url('../assets/icons/classic/poison.svg')}
    }
}
.ghost {
    background: linear-gradient(135deg, rgb(173, 136, 218) 0%, rgba(116, 87, 151, 1) 100%);
    &Bg {background-image: url('../assets/icons/transparent/ghost.svg')}
    &type {
        background: rgba(116, 87, 151, 1);
        &Img {background-image: url('../assets/icons/classic/ghost.svg')}
    }
}
.ground {
    background: linear-gradient(135deg, rgb(250, 217, 134) 0%, rgba(226, 191, 101, 1) 100%);
    &Bg {background-image: url('../assets/icons/transparent/ground.svg')}
    &type {
        background: rgba(226, 191, 101, 1);
        &Img {background-image: url('../assets/icons/classic/ground.svg')}
    }
}
.fighting {
    background: linear-gradient(135deg, rgb(224, 128, 123) 0%, rgba(194, 47, 40, 1) 100%);
    &Bg {background-image: url('../assets/icons/transparent/fighting.svg')}
    &type {
        background: rgba(194, 47, 40, 1);
        &Img {background-image: url('../assets/icons/classic/fighting.svg')}
    }
}
.fire {
    background: linear-gradient(135deg, rgb(255, 179, 124) 0%, rgba(237, 128, 50, 1) 100%);
    &Bg {background-image: url('../assets/icons/transparent/fire.svg')}
    &type {
        background: rgba(237, 128, 50, 1);
        &Img {background-image: url('../assets/icons/classic/fire.svg')}
    }
}
.steel {
    background: linear-gradient(135deg, rgb(215, 216, 240) 0%, rgba(183, 184, 205, 1) 100%);
    &Bg {background-image: url('../assets/icons/transparent/steel.svg')}
    &type {
        background: rgba(183, 184, 205, 1);
        &Img {background-image: url('../assets/icons/classic/steel.svg')}
    }
}
.flying {
    background: linear-gradient(135deg, rgb(201, 180, 255) 0%, rgba(170, 142, 243, 1) 100%);
    &Bg {background-image: url('../assets/icons/transparent/flying.svg')}
    &type {
        background: rgba(170, 142, 243, 1);
        &Img {background-image: url('../assets/icons/classic/flying.svg')}
    }
}
.bug {
    background: linear-gradient(135deg, rgb(204, 214, 126) 0%, rgb(188, 206, 59) 100%);
    &Bg {background-image: url('../assets/icons/transparent/bug.svg')}
    &type {
        background: rgb(188, 206, 59);
        &Img {background-image: url('../assets/icons/classic/bug.svg')}
    }
}
.psychic {
    background: linear-gradient(135deg, rgb(255, 133, 171) 0%, rgba(248, 83, 134, 1) 100%);
    &Bg {background-image: url('../assets/icons/transparent/psychic.svg')}
    &type {
        background: rgba(248, 83, 134, 1);
        &Img {background-image: url('../assets/icons/classic/psychic.svg')}
    }
}
.dark {
    background: linear-gradient(135deg, rgb(165, 127, 108) 0%, rgba(113, 86, 72, 1) 100%);
    &Bg {background-image: url('../assets/icons/transparent/dark.svg')}
    &type {
        background: rgba(113, 86, 72, 1);
        &Img {background-image: url('../assets/icons/classic/dark.svg')}
    }
}
.dragon {
    background: linear-gradient(135deg, rgb(155, 112, 255) 0%, rgba(113, 52, 252, 1) 100%);
    &Bg {background-image: url('../assets/icons/transparent/dragon.svg')}
    &type {
        background: rgba(113, 52, 252, 1);
        &Img {background-image: url('../assets/icons/classic/dragon.svg')}
    }
}
.ice {
    background: linear-gradient(135deg, rgb(167, 238, 238) 0%, rgba(151, 216, 216, 1) 100%);
    &Bg {background-image: url('../assets/icons/transparent/ice.svg')}
    &type {
        background: rgba(151, 216, 216, 1);
        &Img {background-image: url('../assets/icons/classic/ice.svg')}
    }
}
.rock {
    background: linear-gradient(135deg, rgb(207, 192, 116) 0%, rgba(182, 160, 55, 1) 100%);
    &Bg {background-image: url('../assets/icons/transparent/rock.svg')}
    &type {
        background: rgba(182, 160, 55, 1);
        &Img {background-image: url('../assets/icons/classic/rock.svg')}
    }
}
.grass {
    background: linear-gradient(135deg, rgb(177, 239, 139) 0%, rgba(123,199,75,1) 100%);
    &Bg {background-image: url('../assets/icons/transparent/grass.svg')}
    &type {
        background: rgba(123,199,75,1);
        &Img {background-image: url('../assets/icons/classic/grass.svg')}
    }
}


